* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: radial-gradient(#ff0084, #22c1c3);
  background-position: center;
}
.container {
  height: auto;
  width: 300px;
  background-color: rgba(245, 245, 245, 0.664);
  margin: 10em auto;
  border-radius: 20px;
}
.title {
  text-align: center;
  color: rgb(68, 68, 68);
  padding: 20px 0;
}
.lb {
  margin-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
  color: rgb(124, 124, 124);
}
.form label {
  padding: 10px 0;
}
.line {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #00fbff, #ff00b3);
}
.input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px 0;
}
.forgot {
  text-align: right;
  padding: 20px 0;
  color: #2abcbe;
  text-decoration: none;
}
.btn {
  border: none;
  outline: none;
  background: linear-gradient(to right, #00fbff, #ff00b3);
  color: whitesmoke;
  border-radius: 50px;
  padding: 8px;
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}

.fa-facebook {
  color: blue;
}
.fa-twitter-square {
  color: rgb(35, 35, 255);
}
.fa-google {
  color: rgb(255, 0, 0);
}
.other {
  display: flex;
  justify-content: center;
}
.fab {
  padding: 20px;
  font-size: 30px;
}
.paragraf {
  text-align: center;
  color: rgb(68, 68, 68);
}
.fab:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}
